
<!--<iframe src="http://localhost:8100/assets/mapviewer/mapviewer.html"-->
<iframe src="assets/mapviewer/mapviewer.html"
        frameborder="0" allowfullscreen
        height="100%"
        http-equiv="Content-Security-Policy"
        content="default-src * 'unsafe-inline' 'unsafe-eval'; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src *; style-src * 'unsafe-inline'"
>
</iframe>
<!--default-src * 'unsafe-inline' 'unsafe-eval'; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src *; style-src * 'unsafe-inline';-->

<!--<div class="map">-->
<!--    <div id="mapwize"></div>-->
<!--</div>-->
<!--<div>-->
<!--    <iframe width="100" height="960" id="visioweb"></iframe>-->
<!--</div>-->
